<%= form_for(current_user.goods.build(micropost_id: feed_item.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :micropost_id %></div>
  <%= f.submit "いいね！", class: "btn btn-mini btn-default" %>
<% end %>
